/* Provide sufficient contrast against white background */


@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

a { color: #0366d6; }

code { color: #E01A76; }

.btn-primary { color: #fff; background-color: #1b6ec2; border-color: #1861ac; }

.bg-dark-red { background-color: #e8332a; }

* { box-sizing: border-box; }

body { background: #efefbb; background: linear-gradient(to right, #eba1ba6b, #3661ac); font-family: sans-serif; font-family: "Iceland", cursive; }

.border-bottom { border-bottom: 1px solid transparent !important; }

h1 { letter-spacing: 3px; }

h3, .h3 { font-size: 1.00rem; }

input[type="text"] { font-family: "Iceland", cursive; }

.poke-container { display: inline-block; flex-wrap: wrap; align-items: space-between; justify-content: center; align-content: center; margin: 0 auto; max-width: 100%; }
.pokemon { justify-content: center; width: 182px; border-radius: 9px; box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5); padding: 20px; margin: 10px; display: inline-flex; align-content: center; text-align: center; }
    .pokemon .img-container { background-color: #1861ac85; border-radius: 50%; box-shadow: none; margin-top: 70px; height: 60px; width: 140px; }
        .pokemon .img-container img { margin-top: -40px; max-width: 100%; }
.info { margin-top: 20px; }

.number { background-color: #fff; border-radius: 10px; font-size: 0.8em; padding: 5px 10px; }

.name { margin: 15px 0 7px; letter-spacing: 2px; }

.types { border-radius: 10px; padding: 5px 10px; font-size: 0.8em; letter-spacing: 1px; display: flex; margin-left: 6px; margin-right: 6px; }

.pokemon .img-container img:hover { animation: bounce 0.5s linear; }

.pokemon .more_info { position: absolute; font-size: 0.7em; letter-spacing: 1px; justify-content: center; width: 182px; padding: 20px; margin: 6px; display: flex; text-align: center; top: 2rem; margin-left: -11px; }

.more_info .name_ability { letter-spacing: 2px; }

.row { flex-wrap: unset; }

.div-direction-right { height: 100%; position: absolute; right: 9rem; top: 8rem; z-index: 99; }

.div-direction-left { height: 100%; position: absolute; left: 9rem; top: 8rem; z-index: 99; }

.a-left { font-size: 13em; line-height: 1em; z-index: 11; color: #131313; margin-left: 7px; }

.a-right { font-size: 13em; z-index: 1222; line-height: 217px; z-index: 11; color: #fff; margin-right: 3px; }

.col { padding: 25px; overflow: hidden; }

footer { background-color: #e8332a; text-align: center; position: fixed; left: 0px; bottom: 0px; height: 50px; width: 100%; color: #fff; }

    footer a { color: #fff; text-decoration: none; }
    footer p { margin-top: 9px; }

    footer a:hover { color: #ffcb08; }

.card-controls { color: #626262 !important; opacity: .4; padding-top: 10px; padding-bottom: 10px; float: right; margin-top: -3px; }

    .card-controls:after { content: ""; display: table; clear: both; }

    .card-controls ul { margin: 0; padding: 0; }
.card-add { color: #3dd341; }
.card-remove { color: #f00 }
.card-info { color: #1861ac }

.card-controls ul li { padding-left: 3px; display: inline-block; list-style: none; line-height: 0; }

.card-icon { -moz-osx-font-smoothing: grayscale; font-family: "pages-icon"; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1; text-transform: none; }

.text-compress { padding: 0 11px 0 16px; margin: 0; }

.card-container { padding: 1% 15% 10% 1%; position: absolute; }

.card-body { padding-left: 9px; padding-top: 0; margin-bottom: 0; margin-top: 0; padding-bottom: 0; }

.text-compress { padding: 0 11px 0 16px; margin: 0; }

.card-header { padding: 0.2rem 1.25rem; background-color: #ebd8d870; border-top: 1px solid #00000020; }

.card-footer { padding: 0.75rem 1.25rem; background-color: #ebd8d870; border-top: 1px solid #00000020; }

@keyframes bounce {
    20% { transform: translateY(-6px); }
    40% { transform: translateY(-0px); }
    60% { transform: translateY(-2px); }
    80% { transform: translateY(-0px); }
}
